@import "../mq.scss";

.sectionTitle {
    width: 100%;
    background: black;
    color: white;
    padding: 15px 0px;
    text-align: center;
    margin: 25px auto;
}

.sectionHeader {
    border-bottom: 1px solid #56acde;
}

.logoDWA {
    @extend .sprite_1-dwa-logo;
    margin: 50px auto 40px;
    &:hover {
        @extend .sprite_1-dwa-logo-over;
        transform: scale(0.9);
    }
    @media only screen and (max-width: $xs) {
        & { transform: scale(1.5); }
    }
}

// Digimon list -------------------

ul.digiContainer {
    list-style: none;
    padding: 0;
    li.digiItem {
        background-color: #282828;
        margin: 20px auto;
        padding: 20px 0px;
        div {
            transform: scale(0.7);
            margin: 0  auto;
            display: inline-block;
            vertical-align: middle;
            max-width: 360px;
        }
        @media only screen and (max-width: $md) {
            & { background-color: #56acde; }
        }
        @media only screen and (max-width: $xs) {
            & { background-color: #481457; }
        }
    }
}

.imgAgumon {
    transform: scale(0.7);
    @extend .sprite_1-agumon;
}
.imgGreymon {
    transform: scale(0.7);
    @extend .sprite_1-greymon;
}
.imgGulimon {
    transform: scale(0.7);
    @extend .sprite_1-gulimon;
}



