.sectionTitle {
    width: 100%;
    background: black;
    color: white;
    padding: 15px 0px;
    text-align: center;
    margin: 25px auto;
}

.sectionHeader {
    border-bottom: 1px solid #56acde;
}

.logoDWA {
    @extend .sprite_1-dwa-logo;
    margin: 50px auto 40px;
    &:hover {
        @extend .sprite_1-dwa-logo-over;
        transform: scale(0.9);
    }
}


